name: lpr_gatebox
services:
  gatebox:
    image: ghcr.io/pirsasha/lpr_gatebox-gatebox:v0.3.1
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      APP_VERSION: "v0.3.1"
      MODEL_PATH: "/models/plate_ocr.onnx"
      SETTINGS_PATH: "/config/settings.json"
      # ...
    volumes:
      - ./models:/models:ro
      - ./config:/config

  rtsp_worker:
    image: ghcr.io/pirsasha/lpr_gatebox-rtsp-worker:v0.3.1
    restart: unless-stopped
    depends_on: [gatebox]
    environment:
      INFER_URL: "http://gatebox:8080/infer"
      # ...
    volumes:
      - ./models:/models:ro
      - ./debug:/debug
      - ./config:/config

  updater:
    image: ghcr.io/pirsasha/lpr_gatebox-updater:v0.3.1
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/project
      - ./config:/config
    environment:
       PROJECT_DIR: /project
       COMPOSE_FILE: docker-compose.prod.yml
       COMPOSE_PROJECT_NAME: lpr_gatebox
       UPDATE_FALLBACK_BUILD: "0"